body{
  font-family:helvetica;
  font-weight:200;
}

header{
  border-bottom:1px solid #e5e5e5;
}

header{
  background:#f3f3f3;
}

header, #AFUIGeneticsLab{
  border-bottom:1px solid #e5e5e5;
}

header h1{
  padding:10px 0;
  font-size:1.75em;
}

#creatureOutput{
  padding-top:25px;
}

.container{
  width:1020px;
  margin:auto;
}

form > div{
  padding: 10px;
}

#AFUIGeneticsLab{
  background:#F6F8F3;
  padding-bottom:10px;
}

#gaDNAList li{
  list-style-type: decimal;
  margin: 20px 50px;
  border: dotted 1px blue;
  padding: 10px;
}
#gaDNAList li:first-child{
  border-color: green;
}
#gaDNAList li:last-child{
  border-color: red;
}
.root{
  color:#f0f;
}
.parent1DNA{
  color:orange;
}
.parent2DNA{
  color:blue;
}
.mutatedDNA{
  color:red;
}
