body{
  font-family:helvetica;
  font-weight:200;
  letter-spacing:1px;
}

header{
  border-bottom:1px solid #e5e5e5;
}

header{
  background:#f3f3f3;
}

header, #AFUIGeneticsLab{
}

header h1{
  padding:10px 0;
  font-size:1.75em;
}

.container{
  width:1020px;
  margin:auto;
}

form > div{
  padding: 10px 0;
}

form > div > div{
  border-bottom:1px solid #e5e5e5;
  padding:10px 0 15px 0;
  height:55px;
}

form > div > div p:first-child span{
  display:inline-block;
  width:49%;
}

form > div > div p:nth-child(2) span:first-child{
  color:#4183c4;
  padding:5px;
  border:solid 1px;
  border-radius:5px;
}

#AFUIGeneticsLab{
  padding-bottom:10px;
}

#creatureOutput{
  padding-top:10px;
  /*background:#F6F8F3;*/
}

#lftClm, #rghtClm{
  vertical-align:top;
  display:inline-block;
  width:49%;
}

.rng span:first-child{
  font-size:1.3em;
  padding-bottom:15px;
}

#gaDNAList li{
  list-style-type: decimal;
  margin: 20px 25px;
  border: dotted 1px blue;
  padding: 10px;
}
#gaDNAList li:first-child{
  border-color: green;
}
#gaDNAList li:last-child{
  border-color: red;
}
.root{
  color:#4183c4;
}
.parent1DNA{
  color:orange;
}
.parent2DNA{
  color:blue;
}
.mutatedDNA{
  color:red;
}
