<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <title>AudioFile Genetics Lab</title>
    <link rel="stylesheet" href="/~carloscardona/audiofile_stuff/audiofile_sdk/applications/AudioFileGeneticsLab/public/stylesheets/reset.css" media="screen">
    <link rel="stylesheet" href="/~carloscardona/audiofile_stuff/audiofile_sdk/applications/AudioFileGeneticsLab/public/stylesheets/styles.css" media="screen">
  </head>
  <body>
  <header>
    <div class='container'>
      <h1>AudioFile Genetics Lab</h1>
    </div>
  </header>
  <div id='AFUIGeneticsLab'>
    <div class='container' id='formCntr'>
      <form id='gaForm'>
        <div>
          <p>Generations Size: <input value='10' type="range" min="1" max="100" step="1" id="generationSize"></p>
          <p><span id='genSz'>10</span> creatures per generation</p>
        </div>
        <div>
          <p>Generation Count: <input value="2" type="range" min="1" max="10" step="1" id='generationCount'></p>
          <p><span id='genCnt'>2</span> generation(s)</p>
        </div>
        <div>
          <p>Mutation Percentage: <input value="20" type="range" min="0" max="100" step="20" id="mutationPercentage"></p>
          <p><span id='mutPct'>20</span>% mutation rate</p>
        </div>
        <div>
          <p>DNA Bit Count: <input value="8" type="range" min="0" max="16" step="1" id="dnaBitCount"></p>
          <p><span id='bitCnt'>8</span> bit DNA strands</p>
        </div>
        <div>
          <p>Potential Step Count: <input value="3" type="range" min="1" max="9" step="1" id="dnaStepCount"></p>
          <p><span id='stpCnt'>3</span> steps</p>
        </div>
        <div>
          <p>Desired Scale Steps: <input checked='true' type="radio" name="scales" id="majorScaleSteps" value="1,3,5,6,8,10,11">Major Scale</p>
        </div>
        <button id="gaSubmit">Generate DNA</button>
      </form>
    </div>
  </div>
  <div id='creatureOutput'>
    <div class='container'>
      <div>
        <ol id='gaDNAList'>
        </ol>
      </div>
    </div>
  </div>
  <script src="/~carloscardona/audiofile_stuff/audiofile_sdk/javascripts/jquery.js"></script>
  <script src="/~carloscardona/audiofile_stuff/audiofile_sdk/javascripts/underscore.js"></script>
  <script src="/~carloscardona/audiofile_stuff/audiofile_sdk/javascripts/AudioFileCore.js"></script>
  <script src="/~carloscardona/audiofile_stuff/audiofile_sdk/javascripts/audiofile_sdk.js"></script>
  <script src="/~carloscardona/audiofile_stuff/audiofile_sdk/applications/AudioFileGeneticsLab/public/javascripts/scripts.js"></script>
  </body>
</html>
